@import '../../scss/variables/variables.scss';

.outer-container-ri-designers {
  background-color: white;
  min-height: calc(100vh - 9rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-ridesigners {
  //background-color: $light-green-color;
  border-radius: 0.3125rem;
  width: 60rem;
  height: auto;
  margin: 5rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.ridesigners {
  height: 40rem;
  gap: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.buttons-ridesigners {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

