@import '../../scss/variables/variables.scss';

.textarea-input-form {
  width: 23rem;
  height: 9rem;
  background-color: $off-white-color;
  box-shadow: 0 0.125rem 0.25rem rgba(142, 137, 135, 0.8);
  border: none;
  border-radius: 0.3125rem;
  color: black;
  padding: 1rem;
}

.error-message {
  color: $pink-color;
  font-size: 0.8rem;

  margin-top: 1rem;
}