@import '../../scss/variables/variables.scss';

.outer-container-profile {
  background-color: white;
  min-height: calc(100vh - 9rem);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.profile-page {
  border: 0.1rem solid red;
  //background-color: $light-green-color;
  border-radius: 0.3125rem;
  width: 70rem;
  height: 40rem;
  margin: 3.5rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: black;
}

.user-information {
  border: 0.1rem solid blue;
  flex-basis: 14.5rem;

  h2 {
    margin: 1rem 0;
  }

  p {
    font-size: 1.3rem;
  }
}

.wrapper-profile-photo {
  border: 0.1rem solid pink;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.user-photo {
  width: 100%;
}

.users-content {
  border: 0.1rem solid purple;
  flex-basis: calc(70rem - 14.5rem - 2rem);
  gap: 1rem;

  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}

.user-products {
  border: 0.1rem solid green;
  height: calc(20rem - 2rem);

  display: flex;
  flex-direction: column;
}

.profile-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users-inquiries {
  border: 0.1rem solid pink;
  height: calc(20rem - 2rem);

  display: flex;
  flex-direction: column;
}

.users-inquiries-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}



