@import '../../scss/variables/variables.scss';

.outer-container-new-product {
  border: 0.1rem solid red;
  background-color: white;
  height: calc(100vh - 9rem);
  width: 100vw;

  display: flex;
  justify-content: center;
}

.form-new-product {
  background-color: $light-green-color;
  width: 40rem;
  min-height: 25rem;
  border-radius: 0.3125rem;
  margin: 3.5rem 0;

  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  h2 {
    width: 28rem;
    text-align: center;
    margin: 2rem 0;
  }
}

.green-dot-title {
  max-width: 1.1rem;
}

.input-form {
  width: 23rem;
  height: 2.7rem;
}