@import '../../scss/variables/variables.scss';

.outer-container-footer {
  min-width: 100vw;
  height: 14rem;
  background-color: $creme-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-up {
  border: 0.1rem solid pink;
  height: 7rem;
  width: 100%;
  background-color: $creme-color;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2.7rem;
  color: #1a1a1a;
  font-size: 1rem;

  p {
    color: $dark-green-color;
  }
}

.footer-down {
  border: 0.1rem solid green;
  height: 7rem;
  width: 100%;
  background-color: $sand-color;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.7rem;
  color: #1a1a1a;
  font-size: 0.9rem;
}

//.green-dot-icon {
//  height: 0.25rem;
//  width: 0.25rem;
//}


