@import '../../scss/variables/variables.scss';

.outer-container-footer {
  min-width: 100vw;
  height: 14rem;
  background-color: $creme-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-up,
.footer-down {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: #1a1a1a;
  font-size: 1rem;
}

.footer-up {
  //border: 0.1rem solid pink;
  border: 0.15rem solid $sand-color;
  background-color: $creme-color;
  justify-content: flex-end;
  padding-right: 2.7rem;
  gap: 1rem;

  p {
    color: $dark-green-color;
  }
}

.footer-down {
  // border: 0.1rem solid green;
  background-color: $sand-color;
  justify-content: flex-start;
  padding-left: 2.7rem;
  font-size: 0.9rem;
}

.green-dot-footer {
  height: 2rem;
  width: 2rem;
}


