@import '../../scss/variables/variables.scss';

.input-form {
  position: relative;
  width: 23rem;
  height: 2.7rem;
  background: $off-white-color;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(142, 137, 135, 0.8);
  color: black;
  padding: 1rem;
  font-size: 1rem;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.eye-icon {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-40%);
  width: 1.5rem;
}