@import '../../scss/variables/variables.scss';

.inquiry-card-wrapper {
  border: 0.1rem solid red;
  width: 24rem;
  height: 13rem;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 1rem;
  }
}


