@import '../../scss/variables/variables.scss';

.outer-container-nav {
  //border: 0.1rem solid red;
  min-width: 100vw;
  height: 9rem;
  background-color: $off-white-color;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container-nav {
  //border: 0.1rem solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(100vw - 3.5rem);
  height: 6rem;
  padding-top: 0.1rem;
}

.logo-wrapper {
  //border: 0.1rem solid purple;
  max-width: 8rem;
  height: auto;
  padding: 0.1rem;
  margin-bottom: 0.9rem;
}

.logo {
  width: 100%;
}

.nav-content {
  //border: 0.1rem solid green;
  flex-basis: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.icons {
  //border: 0.1rem solid #646cff;
  flex-basis: 2.5rem;
  gap: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-icon {
  //border: 0.1rem solid red;
  max-width: 2rem;
  max-height: 2rem;
}

.nav-content-down {
  //border: 0.1rem solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin-left: 3rem;
    color: #1a1a1a;
    text-transform: uppercase;
  }
}

.search-container {
  position: relative;
}

.search-input {
  background-color: $pink-color;
  height: 1.5rem;
  border: none;
  border-radius: 1.25rem;
  padding-right: 1.5rem;
  text-align: left;
  text-indent: 0.8rem;

  &::placeholder {
    color: $grey-color;
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 0.1rem;
  transform: translateY(-50%);
  max-height: 1rem;
}

.language-dropdown {
  select {
    background: none;
    border: none;
    color: black;
  }

  .language-dropdown::after {
    pointer-events: none;
    content: '\25BC';
    color: $grey-color;
  }
}

.active-menu-link,
.default-menu-link {
  color: #1a1a1a;
  text-decoration: none;

  &:hover {
    color: $pink-color;
  }
}

.default-menu-link {
  border-bottom: none;
}

.active-menu-link {
  color: $dark-green-color;
}

.product-dropdown {
  position: absolute;
  top: 5.9rem;
  left: 29rem;
  width: 8rem;
  height: 10rem;
  background-color: $off-white-color;
  box-shadow: 0 0.125rem 0.25rem rgba(142, 137, 135, 0.8);
  z-index: 10;
  display: none;
  padding: 0.5rem;
  border-radius: 0.3125rem;
}

.nav-content:hover .product-dropdown {
  display: block;
}

.product-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.product-dropdown ul li {
  padding-top: 0.1px;
}

.product-dropdown ul li a {
  text-decoration: none;
  color: black;
}

.product-dropdown ul li a:hover {
  color: $dark-green-color;
}

.profile-dropdown {
  position: absolute;
  top: 2.5rem; // Adjust the distance from the top
  right: 0; // Position it at the right edge
  width: 6.3rem;
  height: 4rem;
  background-color: $off-white-color;
  box-shadow: 0 0.125rem 0.25rem rgba(142, 137, 135, 0.8);
  border-radius: 0.3125rem;
  z-index: 10;
  display: none;
  padding: 0.5rem;
}

.nav-content:hover .profile-dropdown {
  display: block;
}

.profile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.profile-dropdown ul li {
  margin-bottom: 0.5rem;
}

.profile-dropdown ul li a {
  text-decoration: none;
  color: black;
}

.profile-dropdown ul li a:hover {
  color: $dark-green-color;
}

.profile-dropdown {
  button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: $dark-green-color;
    padding: 0;
    margin: 0;
  }
}


