@import 'scss/variables/variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: $general-font;

  label {
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 1rem;
  }

  select {
    font-family: $general-font;
  }

  input {
    font-family: $general-font;
  }

  h2 {
    font-size: 1.875rem;
    color: black;
  }

  ul {
    font-size: 1.2rem;
  }
}


