@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


$off-white-color: #f7f2f0;
$creme-color: #f8e6db;
$light-green-color: #cad8bc;
$dark-green-color: #9cb07e;
$pink-color: #ca9a9a;
$sand-color: #dac6b4;
$grey-color: #9b9795;

$general-font: 'Montserrat', sans-serif;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;


